{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .flex {
            display: flex;
            justify-content: space-between;
            background-color: #151D53;
            padding: 1rem;
            border-bottom: #0dcaf0;
        }

        h1{
            color: #efd01d;
            margin-left: 40px;
        }
        h2{
            background-color: red;
            color: white;
            padding: 10px 30px;
            border-radius: 30px;

        }
        h2>a{
            color: white;
            text-decoration: none;
        }
        h2:hover{
            transform: scale(1.2,1.2);
            transition: all 0.3s ease 0s;
        }

        .ul1{
            margin: 40px;
            background-color: #d9be34;
            color: #0f172a;
            padding: 1rem;
            width: fit-content;
            margin: auto;



        }

        .ul1>li{
            font-size: 1.3em;
            list-style-type: none;
        }

        .grid{
            display: grid;
            grid-template-columns:
                       repeat(auto-fill, 200px);
            margin: auto;
            gap: 20px;
            justify-content: center;
            margin-top: 40px;

        }

        .grid>li{
            list-style-type: none;
            background-color: #151D53;
            padding: 1rem;

        }
        .grid>li>a{
            display: block;
            text-decoration: none;
            color: white;
        }

        .shesh{
            margin: 1rem;
            background-color: gray;
            padding: 1rem;
            border-radius: 30px;
            width: fit-content;
            }
        .shesh>a{
            text-decoration: none;
            color: white;

        }

        .yoo{
            text-align: center;
            margin-top: 70px;
            background-color: #151D53;
            margin: auto;
            width: fit-content;
        }

    </style>

    <div class="flex"><h1>{{ product.name }}</h1><h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2></div>
    <p class="shesh"><a href="{{ path('app_category',{'id':product.category.id}) }}">Back to other articles from {{ product.category.name }}</a></p>


    <ul class="ul1">
        <li>{{ product.name }}</li>
        <li>{{ product.price }} €</li>
        <li>{{ product.stock }} articles restants</li>
        <li>{{ product.description }}</li>
    </ul>



    <h1 class="yoo">Voir les autres produits de la même catégorie</h1>

    <ul class="grid">
        {% for other_product in other_products %}
            {% if other_product.getId() != product.getId() %}
                <li><a href="{{ path('app_product',{'id':other_product.id}) }}">{{ other_product.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

